@using SlarkInc.Classes
@model IEnumerable<SlarkInc.Models.Worker>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <p>
        Find By Name: @Html.TextBox("SearchString","",new {@class="form-control",@style="display: inline"})
        @Html.Submit("Submit")
    </p>
}
<table class="table">

    <tr>

        <th>
            @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSortParm })
        </th>

        <th>@Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParm })</th>

        <th>@Html.DisplayNameFor(model => model.Sex)</th>

        <th>@Html.DisplayNameFor(model => model.Rating)</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
        </tr>
    }

</table>